---
import { buildLocalizedUrl } from "@/i18n/i18n.models";
import { cn } from "@/libs/cn";

export type Props = {
    name: string;
    description: string;
    icon: string;
    slug: string;
};

const { slug, name, description, icon }: Props = Astro.props;
const {lang} = Astro.params;
---

<a href={buildLocalizedUrl({lang, path: slug})} class="border rounded-lg p-5 hover:bg-muted transition-colors flex flex-col gap-2">
        <div class="flex items-center gap-4">
            <span class="size-10 flex-shrink-0 bg-muted rounded-lg flex items-center justify-center">
                <span class={cn(icon, "size-6 text-muted-foreground")}></span>
            </span>
            <h3 class="text-lg font-semibold truncate">{name}</h3>
        </div>
        <p class="text-sm text-muted-foreground">{description}</p>
</a>